#header {
  background-image: url('https://images.unsplash.com/photo-1486016006115-74a41448aea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80');
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}

.col-md-8 {
  text-align: end;
}

.col-md-4 {
  padding-left: 0;
}

.col-md-8 img {
  height: 110px;
  width: 120px;
  border-radius: 25px 55px;
}

.col-md-4 span {
  padding-top: 5px;
  color: #05668D;
  text-shadow: 1px 1px 1px #F0F3BD;
  font-size: 20px;
}

.col-md-4 a {
  text-shadow: 1px 1px 1px #F0F3BD;
  font-size: 25px;
  padding-top: 5px;
  color: #028090;
  font-weight: 400;
}

.text-uppercase {
  color: #F0F3BD !important;
  font-weight: 400;
  text-shadow: 1px 1px 1px #FFF;
}

app-profile-editor {
  padding: 10px;
  margin: 0 auto;
}
