<div class="row" id="header">
  <div class="col-md-3" *ngFor="let city of cities">
    <div class="row">
      <div class="col-md-8">
        <img src="{{city.url}}" alt="city">
      </div>
      <div class="col-md-4">
        <a class="d-block" routerLink="details/{{city.name}}">{{city.name}}</a>
        <span class="d-block text-uppercase">{{city.weather}}</span>
        <span class="d-block">{{city.temperature | number:'1.0-0'}} &#8451;</span>
      </div>
    </div>
  </div>
  <app-profile-editor></app-profile-editor>
</div>
