<div class="container badge-light" *ngIf="geoCityData"
     [ngStyle]="{'background-image': 'url()'}">
  <h1 class="display-1">Bitola</h1>

  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <span class="d-block display-4">Wind: <span
          class="text-black-50 font-weight-bold">{{geoCityData.wind.deg}} </span>&#186;</span>
        <span class="d-block display-4">Cloudiness: <span
          class="text-black-50 font-weight-bold">{{geoCityData.weather[0].main}}</span></span>
        <span class="d-block display-4">Humidity: <span
          class="text-black-50 font-weight-bold">{{geoCityData.main.humidity}}</span></span>
      </div>
    </div>

    <div class="col-sm-6 ">
      <img src="{{geoCityImgUrl}}" alt="city-img" class="img-fluid h-100">
    </div>

  </div>

</div>
